rtus Prime files
/db/
/incremental_db/
/simulation/
/outputs/
/*.rpt
/*.chg
/*.htm
/*.smsg
/*.summary
/*.qdf
/*.qws
/*.qws-revisions
/*.sof
/*.pof
/*.bak
/dbincrement.db
/*.done
/*.jdi
*.rdb
/ModelSim/
/*.vwk
/*.vcd
/*.mti
/*.mtm
/transcript
/*.vho
/*.stp
/*.vstp
/partition/
/*.done

